<!-- Temporary Footer -->
<p style="margin: 0 20px;">
	<h4 style="color: white; margin: 0  10px 0 0;">Powered by</h4>
	<a href="http://smartcitizen.me" target="_blank"><md-icon md-svg-src="./mediassets/images/LogotipoSmartCitizen.svg" class="footer_icon"></md-icon></a>
</p>
<p style="margin: 0 60px;">
	<img style="margin: 0 auto; height: 75px;" src="./mediassets/images/logo_eu.png" alt="European Commission">
</p>
<p style="width: 400px; font-size: 14px; color: white; margin: 0  10px;">
    This project has received funding from the European Union's Horizon 2020 research and innovation program under the grant agreement No. 645198                
    <br />
    Version: 0.1.7
    Hash: 8ac483e
    <br />
    <br />
</p>
