<div class="navbar_container">
  <md-toolbar layout="row" layout-align="end center" class="stickNav">
    <a href="/" class="logo_link">
      <md-icon md-svg-src="./mediassets/images/organicity-pink.svg"
               alt="Insert Drive Icon" class="logo_icon">
      </md-icon>
    </a>
    <section layout="row" class="nav_left" layout-align="space-around center">
      <md-button ng-show="vm.isShown" href="" class="md-flat full_height community" aria-label=""
          dropdown-menu="vm.dropdownOptionsTool"
          dropdown-model="vm.dropdownSelectedTool"
          dropdown-item-label="text" layout="row" layout-align="center center">
        <span>Tools</span>
      </md-button>
      <md-button ng-show="vm.isShown" href="" class="md-flat full_height community" aria-label=""
          dropdown-menu="vm.dropdownOptionsDocumentation"
          dropdown-model="vm.dropdownSelectedDocumentation"
          dropdown-item-label="text" layout="row" layout-align="center center">
        <span>Docs</span>
      </md-button>
      <md-button ng-show="vm.isShown" href="" class="md-flat full_height community" aria-label=""
          dropdown-menu="vm.dropdownOptionsSupport"
          dropdown-model="vm.dropdownSelectedSupport"
          dropdown-item-label="text" layout="row" layout-align="center center">
        <span>Support</span>
      </md-button>      
    </section>

    <search flex></search>

    <div ng-show="vm.isShown" class="md-button" ng-click="isLogged()">l?</div>
    <div ng-show="vm.isShown" class="md-button" ng-click="relog()">relog</div>
    <section layout="row" class="nav_right" layout-align="{{vm.navRightLayout}}">

      <div ng-show="vm.isShown" store logged="vm.isLoggedin" class="md-flat full_height get"></div>
      <div ng-show="vm.isShown && !vm.isLoggedin" login class="navbar_login_button md-display-1"></div>
      <div ng-show="vm.isShown && !vm.isLoggedin" signup class="navbar_signup_button md-display-1"></div>

      <md-button ng-show="vm.isShown && vm.isLoggedin" class="md-flat navbar_avatar_button" aria-label="" dropdown-menu="vm.dropdownOptions"
          dropdown-model="vm.dropdownSelected"
          dropdown-item-label="text">
        <img class="navbar_avatar_icon" ng-src="{{ vm.currentUser.avatar || './mediassets/images/avatar.svg' }}" />
      </md-button>
    </section>
  </md-toolbar>
</div>

<div ui-view></div>

<footer class="footer" ng-include="'app/components/footer/footer.html'" layout="row" layout-align="center center"></footer>
