<section class="profile_state">
  <div class="profile_header" layout="row" layout-align="start center">
    <img ng-src="{{ vm.user.avatar || './assets/images/user_details_icon.svg' }}" class="profile_header_avatar" />
    <div class="profile_header_content">
      <div class="profile_header_name">{{ vm.user.username }}</div>
      <div class="profile_header_location">
        <md-icon md-svg-src="./assets/images/location_icon_light.svg" class="profile_header_content_avatar"></md-icon>
        <span>
          <span ng-if="vm.user.city">{{ vm.user.city }}</span>
          <span ng-if="vm.user.city && vm.user.country">,</span>
          <span ng-if="vm.user.country">{{ vm.user.country }}</span>
          <span ng-if="!vm.user.city && !vm.user.country">No data</span>
        </span>
      </div>
      <div class="profile_header_url">
        <md-icon md-svg-src="./assets/images/url_icon_light.svg" class="profile_header_content_avatar"></md-icon>
        <a ng-href="{{ vm.user.url ||  'http://example.com' }}">{{ vm.user.url ||  'No data' }}</a>
      </div>
    </div>
  </div>
  <div class="profile_content" layout="row">
    <div class="profile_sidebar">
      <p class="profile_sidebar_title">FILTER entitites BY</p>
      <div class="profile_sidebar_options">
        <md-button ng-click="vm.filterentitites('all')"
        class="profile_sidebar_button" analytics-on="click"
        analytics-event="Profile" analytics-action="entity filter">
          ALL
        </md-button>
        <md-button ng-click="vm.filterentitites('online')"
          class="profile_sidebar_button" analytics-on="click"
          analytics-event="Profile" analytics-action="entity filter">
          ONLINE
        </md-button>
        <md-button ng-click="vm.filterentitites('offline')"
        class="profile_sidebar_button" analytics-on="click"
        analytics-event="Profile" analytics-action="entity filter">
          OFFLINE
        </md-button>
      </div>
    </div>
    <div class="profile_content_main" flex>
      <div class="profile_content_main_top">
        <span class="profile_content_main_title">{{ vm.filteredentitites.length || 0 }} entitites filtering by {{ vm.status.toUpperCase() || 'ALL' }}</span>
      </div>
      <div class="profile_content_main_entitites">
        <div class="entityList_parent" ng-repeat="entity in (vm.filteredentitites = (vm.entitites | filterLabel: vm.status))" layout="row" layout-align="start center">
          <md-button class="entityList entityList_primary" ng-href="./entitites/{{entity.id}}" layout="row" layout-align="start center" ng-class="{entityList_borderBottom: $last}">
            <div class="entityList_container" layout="row" layout-align="start center">
              <div>
                <img class="entityList_avatar" ng-src="{{ entity.avatar || './assets/images/avatar.svg' }}" />
              </div>
              <div class="entityList_content">
                <div class="entityList_name">{{ entity.name || 'No name'}}</div>
                <div class="entityList_data">
                  <md-icon class="entityList_icon" md-svg-src="./assets/images/location_icon_light.svg">
                  </md-icon>
                  <span>{{ entity.location || 'No location'}}</span>
                  <md-icon class="entityList_icon" md-svg-src="./assets/images/sensor_icon.svg">
                  </md-icon>
                  <span>{{ entity.type }}</span>
                </div>
              </div>
              <div class="entityList_right" layout="row" layout-align="end center">
                <div class="chips">
                  <div class="chip entity_tag" ng-repeat="tag in entity.labels">
                    <span class="chip_name">{{ tag }}</span>
                  </div>
                  <div class="chip entity_tag" ng-repeat="userTag in entity.userTags">
                    <span class="chip_name">{{ userTag }}</span>
                  </div>
                </div>
              </div>
            </div>
          </md-button>
        </div>
        <div class="entityList entityList_primary entityList_borderBottom" ng-show="!vm.entitites.length">
          <div class="entityList_container">
            <div class="entityList_noentitites">
              <span>There are not entitites yet</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
