<md-dialog>
  <md-dialog-content class="modal modal_beta">
    <md-progress-circular ng-show="waitingFromServer" class="md-hue-3 login_spinner" md-mode="indeterminate"></md-progress-circular>
    <md-button class="close_icon" aria-label>
      <md-icon md-svg-icon="./mediassets/images/close_icon_blue.svg" ng-click="hide()" class="" >
      </md-icon>
    </md-button>
    <div>
      <div class="modal_content_container">
        <h2>ORGANICITY<br>URBAN DATA OBSERVATORY<sup style="font-size: 14px;"> v0.1 BETA</sup></h2>
        <div class="modal_message">
          <p class="header beta">Welcome, let's explore data!</p>
          <p class="subheader beta">The Urban Data Observatory is the browsable catalogue of all the data collected across the OrganiCity cities. You can see the datasets displayed across a map. It allows you to access each of those datasets, visualise the history of data and access real time information from the sensor or device in that location.
          <h2>Take care, this is just a public beta release!</h2>
        </p>
        </div>
      </div>
      <div class="img_claim"></div>
    </div>
  </md-dialog-content>
</md-dialog>
