<div class="entity_detailed_content_container" layout="row">
  <div class="entity_details_content_main" flex>
    <div class="entity_annotion_labels" ng-repeat="tag in vm.annotation.tags">
      <span tooltips tooltip-side="right" tooltip-template="{{tag.tooltip}}">{{ tag.name }}</span>
    </div>
    <div class="clearfix"></div>
    <div class="entity_annotion_filters">
      <p>
        <span>Filter by</span>
        <md-select placeholder="NONE" ng-model="vm.selectedSensorToCompare">
          <md-option ng-repeat="filter in vm.annotation.filters" ng-value="filter.id">
        <span>
          {{ filter.name }}
        </span>
          </md-option>
        </md-select>
      </p>
    </div>
    <div>
      <span>How would you rate this asset?</span>
      <a href="" ng-click="vm.addReputation(1)" role="button" id="rep-star-1" class="rep-star fa fa-fw fa-star-o"
         style="text-decoration: none;color: inherit;"></a>
      <a href="" ng-click="vm.addReputation(2)" role="button" id="rep-star-2" class="rep-star fa fa-fw fa-star-o"
         style="text-decoration: none;color: inherit;"></a>
      <a href="" ng-click="vm.addReputation(3)" role="button" id="rep-star-3" class="rep-star fa fa-fw fa-star-o"
         style="text-decoration: none;color: inherit;"></a>
      <a href="" ng-click="vm.addReputation(4)" role="button" id="rep-star-4" class="rep-star fa fa-fw fa-star-o"
         style="text-decoration: none;color: inherit;"></a>
      <a href="" ng-click="vm.addReputation(5)" role="button" id="rep-star-5" class="rep-star fa fa-fw fa-star-o"
         style="text-decoration: none;color: inherit;"></a>
      <a class=""></a>
      <a id="rep-thanks"></a>
    </div>
    <div>
      <span>Asset Reputaion: <span>{{vm.annotation.stars}}</span></span>
    </div>
  </div>
  <div class="entity_annotation_ask" flex>
    <h3 id="ask_user_for_annotation">Do you think this looks <span ng-repeat="tag in vm.annotation.proposed.tags">
      <md-button class="call-to-action" ng-click="vm.addAnnotation(tag.urn)">{{ tag.name }}</md-button>
    </span>
      ?
    </h3>

    <h3 id="thank_user_for_annotations"></h3>

    <p>
      Your feedback will help to improve our automated annotation service.
    </p>
  </div>
</div>



