<div class="entity_annotion_labels" ng-repeat="tag in vm.annotation.tags">
  <span tooltips tooltip-side="right" tooltip-template="{{tag.tooltip}}">{{ tag.name }}</span>
</div>
<div class="clearfix"></div>
<div class="entity_annotion_filters">
  <p>
    <span>Filter by</span>
    <md-select placeholder="NONE" ng-model="vm.selectedSensorToCompare">
      <md-option ng-repeat="filter in vm.annotation.filters" ng-value="filter.id">
        <span>
          {{ filter.name }}
        </span>
      </md-option>
    </md-select>
<!--     <div class="chips">
        <span class="chip tag">
          HELLO
          <md-icon ng-click="" md-svg-src="./mediassets/images/close_icon_black.svg"></md-icon>
        </span>
    </div> -->
  </p>
</div>
<div class="add_annotation">
	<md-button>ADD +</md-button>
</div>


