<div class="entity_detailed_content_container" layout="row">
  <div class="entity_details_content_main" flex="30">
    <h3>What we know about this asset?</h3>
    <div class="annotation_tags">
      <span tooltips tooltip-side="top" tooltip-template="{{tag.tooltip}}" ng-if="vm.annotation.tags.length" ng-repeat="tag in vm.annotation.tags">
        <md-button class="tag">{{ tag.name }}</md-button>
      </span>
      <span ng-if="!vm.annotation.tags.length">
        No annotations available, yet!
      </span>
    </div>
    <div class="clearfix"></div>
    <!--
    <div ng-if="vm.annotation.filters.length" class="entity_annotion_filters">
      <p>
        <span>Filter by</span>
        <md-select placeholder="NONE" ng-model="vm.selectedSensorToCompare">
          <md-option ng-repeat="filter in vm.annotation.filters" ng-value="filter.id">
        <span>
          {{ filter.name }}
        </span>
          </md-option>
        </md-select>
      </p>
    </div>
    -->
  </div>
  <div class="entity_reputation_tab" flex="30">
    <h3>How would you rate this asset?</h3>
    <div>
      <a href="" ng-click="vm.addReputation(1)" role="button" id="rep-star-1">
        <i class="rep-star fa fa-fw fa-star-o"></i>
      </a>
      <a href="" ng-click="vm.addReputation(2)" role="button" id="rep-star-2">
        <i class="rep-star fa fa-fw fa-star-o"></i>
      </a>
      <a href="" ng-click="vm.addReputation(3)" role="button" id="rep-star-3">
        <i class="rep-star fa fa-fw fa-star-o"></i>
      </a>
      <a href="" ng-click="vm.addReputation(4)" role="button" id="rep-star-4">
        <i class="rep-star fa fa-fw fa-star-o"></i>
      </a>
      <a href="" ng-click="vm.addReputation(5)" role="button" id="rep-star-5">
        <i class="rep-star fa fa-fw fa-star-o"></i>
      </a>
      <a class=""></a>
      <a id="rep-thanks"></a>
    </div>
    <div>
      <p><i>Asset Reputation: <span>{{vm.annotation.stars}}</span>/5</i></p>
    </div>
  </div>
  <div class="entity_annotation_ask" flex="40">
    <h3 id="ask_user_for_annotation">Do you think any of these is true?</h3>
    <h3>
      <span ng-repeat="tag in vm.annotation.proposed.tags">
        <md-button class="call-to-action" ng-click="vm.addAnnotation(tag.urn)">{{ tag.name }}</md-button>&nbsp;
      </span>
    </h3>
    <h3 id="thank_user_for_annotations"></h3>
    <p>
      <span ng-if="vm.entity.owner.city">
        Your feedback will help us generate more knowledge for <b>{{vm.entity.owner.city}}</b> and improve our automated annotation services.
      </span>
      <span ng-if="!vm.entity.owner.city">
        Your feedback will help us generate more knowledge and improve our automated annotation services.
      </span>
    </p>
  </div>

</div>
